{:paths ["src"]
 
 :deps {org.clojure/clojure               {:mvn/version "1.10.3"}
        clojure-lanterna/clojure-lanterna {:mvn/version "0.9.7"}}
 
 :aliases {:run {:main-opts ["-m" "maze.cli"]}

           :test {:extra-paths ["test"]
                  :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}}

           :runner {:extra-paths ["test"]
                    :extra-deps {io.github.cognitect-labs/test-runner
                                 {:git/tag "v0.5.0" :git/sha "b3fd0d2"}}
                    :main-opts ["-m" "cognitect.test-runner"]
                    :exec-fn cognitect.test-runner.api/test}
           
           :reveal-dep-only {:extra-deps {vlaaad/reveal {:mvn/version "RELEASE"}}}
           :portal {:extra-deps {djblue/portal {:mvn/version "RELEASE"}}}}}
